<div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
  <div class="wrapper wrapper--w790">
    <div class="card card-5">
      <div class="card-heading">
        <h2 class="title">Toutes nos plantes</h2>
      </div>
      <div class="card-body">
        <table class="table">
          <tr *ngFor="let fP of fichesPlanteObservable | async">
            <td>
              <img
                src="../../../../../assets/images/fiche-plante/plante/{{
                  fP.nom
                }}.png"
                alt="logo-{{ fP.nom }}"
                width="60"
              />
              <a
                [routerLink]="['/fiches_plante', 'perso', fP.id]"
                routerLinkActive="active"
                >{{ fP.nom }}</a
              >
            </td>

            <td
            *ngIf="role=='ROLE_ADMIN'">
              <a
                [routerLink]="['/fiches_plante', 'edit', fP.id]"
                routerLinkActive="active"
                class="btn btn--radius-2 btn--blue"
                >editer</a
              >
            </td>
            <td
            *ngIf="role=='ROLE_ADMIN'">
              <button (click)="delete(fP.id!)" class="btn btn--radius-2 btn--red">
                supprimer
              </button>
            </td>

          </tr>
        </table>
        <br>

        <div class="row justify-content-between"
        *ngIf="role=='ROLE_ADMIN'">
          <button
            routerLink="/fiches_plante/edit"
            routerLinkActive="active"
            class="btn btn--radius-2 btn--green"
            type="submit"
          >
            Ajouter une fiche
          </button>
        </div>

      </div>
    </div>
  </div>
</div>
