<div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
  <div class="wrapper wrapper--w790">
    <div class="card card-5">
      <div class="card-heading">
        <h2 class="title">Éditer une annonce</h2>
      </div>
      <div class="card-body">

        <div>
          <div class="form-group">
            <label>N°:</label>
            <input class="form-control" [(ngModel)]="produit.id" readonly />
          </div>

          <!-- <div class="form-group">
            <label>Nom:</label>
            <input class="form-control" [(ngModel)]="produit.plante!.typePlante"/>
          </div> -->

          <div class="form-group">
            <label>Nom:</label>
            <input class="form-control" [(ngModel)]="produit.nom"/>
          </div>

          <div class="form-group">
            <label>Stock:</label>
            <input class="form-control" [(ngModel)]="produit.stock" />
          </div>

          <div class="form-group">
            <label>Prix:</label>
            <input class="form-control" [(ngModel)]="produit.prix" />
          </div>

          <br>


          <div class="row justify-content-between"
        >
          <button
            (click)="save()"
            class="btn btn--radius-2 btn--green"
            type="submit"
          >
           Enregistrer
          </button>
          <a
          routerLink="/vendre"
          routerLinkActive="active"
          class= "btn btn--radius-2 btn--grey">Annuler</a>

          <button
            *ngIf="produit.id!"
            (click)="delete(produit.id!)"
            class="btn btn--radius-2 btn--red"
            type="submit"
          >
           Supprimer
          </button>
        </div>

      </div>
    </div>
  </div>
</div>
