<style>
   select:invalid{
        color: gray;
    }
    option{
        color: black;
    }
</style>

<div class="containerPelouse">
    <div class="containerGauche">
            <div class="zoneBoutonHaut">
              <button class="btn btn-light" style="font-size: 0.8rem" disabled="true">Tout sélectionner</button>
              <button class="btn btn-light" style="font-size: 0.8rem" disabled="true">Mettre en vente</button>
              <button class="btn btn-light" style="font-size: 0.8rem" disabled="true">Arrosage réalisé</button>
              <button class="btn btn-light" style="font-size: 0.8rem" disabled="true">Croissance </button>
            </div>
            <div id="containerPotager">
              <span *ngFor="let p of plantes"  style="z-index: 10" class="containerRangeePlante">
                <img [src]="giveImage(p.typePlante)" class="plante"/>
            </span>
            </div>
         <!--   class="containerRangeePlante"> 
          <span *ngFor="let d of departements" class="containerUneRangee">
                <img [src]="giveImage(d.id)" class="plante"/>
            </span>
          </div>-->


             
               <div class="zoneParam">
                      
                      <div class="ajoutTerrain"> 
                        <button type="button" class="btn btn-light" (click)="ajoutTerrain()"> Ajouter un terrain</button>
                      </div>

                    <div class="zoneBouton"> 
                          
                          <div class="separationBouton">
                                  <p>Planter<p>
                                  <select class="form-select" aria-label="Default select example" style ="font-size: 0.8rem"
                                      [(ngModel)]="plante.typePlante" name="typePlante"
                                        (change)="ajoutPlante($event)"> ajouter 
                                                  
                                    <!--<option selected>Choix du terrain</option>-->
                                          <option value="" disabled selected>Ajouter</option>
                                          <option *ngFor="let t of typesPlante | keyvalue" [ngValue]="t.value">
                                            {{t.value}}
                                          </option>
                                    

                                  </select>
                          </div>

                            <div class="separationBouton">
                                    <p>Choix terrain<p>
                                    <select class="form-select" aria-label="Default select example" 
                                            style ="font-size: 0.8rem" [(ngModel)]="utilisateur.terrain" 
                                            (change)="affichagePlante($event)">
                                            
                                      <!--<option selected>Choix du terrain</option>-->
                                            <option selected>Choix du terrain</option>

                                            <option *ngFor="let terrain of terrains" [ngValue]="terrain"> 
                                            
                                                    
                                              {{terrain.id}} <!-- SI LE TEMPS RAJOUTER NOM DANS TERRAIN -->
                                            </option>
                                      

                                    </select>
                            </div>  
                      </div>    
              </div>
          </div>
    
    <div class="containerDroite">
          <div class="card" style="height:15%">
            <h5 class="card-header">Lorem, ipsum dolor</h5>
            sit amet consectetur adipisicing elit. Quisquam deserunt porro,  explicabo.
          </div>
          <div class="card" style="height:25%">
            <h5 class="card-header">Lorem, ipsum dolor</h5>
            sit amet consectetur adipisicing elit. Quisquam deserunt porro, pariatur tempora ad dolorem autem molestiae sed! Assumenda quaerat fuga nisi voluptas, deserunt explicabo.
          </div>
          <div class="card" style="height:25%; display:flex; align-items: center">
            <h5 class="card-header" style="width:100%">Lorem, ipsum dolor</h5>
            <br>
            <input type="text" placeholder="prix" style="width:95%">
            <input type="text" placeholder="quantite" style="width:95%">
          </div>
    </div>


  </div>

<br>