<div class="containerPelouse">
    <div class="containerGauche">
        <div class="zoneBouton">
          <button class="btn btn-light" style="font-size: 0.8rem">Tout sélectionner</button>
          <button class="btn btn-light" style="font-size: 0.8rem">Mettre en vente</button>
          <button class="btn btn-light" style="font-size: 0.8rem">Arrosage réalisé</button>
          <button class="btn btn-light" style="font-size: 0.8rem">Croissance </button>
        </div>
        <div id="containerPotager">
         <!-- <div *ngFor="let e of departements" class="containerRangeePlante"> 
            <span *ngFor="let d of departements" class="containerUneRangee">
                <img [src]="giveImage(d.id)" class="plante"/>
            </span>
          </div>-->
        </div>
        <div class="zoneBouton">
            <button class="btn btn-light long" style ="font-size: 0.8rem" >Ajouter un terrain</button>
            <select class="form-control" style ="font-size: 0.8rem" [(ngModel)]="utilisateur.terrain">
                <option selected>Choix du terrain</option>
                <option selected *ngFor="let terrain of terrains" [ngValue]="terrain">
                    {{terrain.id}}
                </option>
            </select>
        </div>
    </div>
    <div class="containerDroite">
      <div class="card" style="height:15%">
        <h5 class="card-header">Lorem, ipsum dolor</h5>
        sit amet consectetur adipisicing elit. Quisquam deserunt porro,  explicabo.
      </div>
      <div class="card" style="height:25%">
        <h5 class="card-header">Lorem, ipsum dolor</h5>
        sit amet consectetur adipisicing elit. Quisquam deserunt porro, pariatur tempora ad dolorem autem molestiae sed! Assumenda quaerat fuga nisi voluptas, deserunt explicabo.
      </div>
      <div class="card" style="height:25%; display:flex; align-items: center">
        <h5 class="card-header">Lorem, ipsum dolor</h5>
        <input type="text" placeholder="prix" style="width:90%">
        <input type="text" placeholder="quantite" style="width:90%">
      </div>
    </div>


  </div>
<br><br>