<table class="table">
  <tr *ngFor="let p of produits">
    <td>{{ p.id }}</td>
    <td>{{ p.nom }}</td>
    <td>
      <a
        [routerLink]="['/acheter', p.id]"
        routerLinkActive="active"
        class="btn btn-outline-primary"
        >Acheter</a
      >
    </td>
  </tr>
</table>

<div class="container">
  <div class="row">
    <div
      class="col-lg-3 col-md-2 col-xs-6 mt-5 mb-3"
      *ngFor="let p of produits"
    >
      <div class="box">
        <table>
          <tr>
            <img
              class="col-lg-3"
              src="../../../assets/images/fiche-plante/plante/{{
                p.plante!.typePlante
              }}.png"
              alt=""
            />
          </tr>
          <tr>
            <td class="text-center">{{ p.nom }}</td>
          </tr>
          <tr>
            <td class="text-center">{{ p.stock }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
