@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:ital,wght@1,500&display=swap");
.bg-gra-03 {
  background: -webkit-linear-gradient(
    bottom left,
    rgba(71, 28, 13, 0.26) 0%,
    rgba(247, 230, 210, 0.288) 80%
  );
  background: -moz-linear-gradient(
    bottom left,
    rgba(71, 28, 13, 0.26) 0%,
    rgba(247, 230, 210, 0.288) 80%
  );
  background: -o-linear-gradient(
    bottom left,
    rgba(71, 28, 13, 0.26) 0%,
    rgba(247, 230, 210, 0.288) 80%
  );
  background: linear-gradient(
    to top right,
    rgba(71, 28, 13, 0.26) 0%,
    rgba(247, 230, 210, 0.288) 80%
  );
}

.col-lg-2,
.col-md-3,
.col-xs-6 {
  margin-top: 30px !important;
}
.margin {
  margin-left: 6%;
}
.box {
  border-color: rgba(248, 248, 248, 0.548);
  border-width: 2px;
  border-radius: 15px;
  background-color: white;
}

.box:hover {
  box-shadow: 10px 5px 5px rgba(68, 20, 3, 0.76);
}

.margin {
  margin-left: 5%;
}

h6,
h3 {
  color: black;
  font-family: "Montserrat", sans-serif;
}

h3 {
  font-size: 100%;
  margin-left: 3%;
}
h6 {
  font-size: 65%;
  margin-right: 3%;
}

img {
  height: 55px;
}
