.main {
  background: url("../../../assets/images/test.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-position: 50% 50%;
}

.main h1 {
  font-size: 3rem;
  font-weight: 3000;
  color: rgb(255, 244, 221);
}

.btn1 {
  height: 45px;
  width: 35%;
  border: none;
  outline: none;
  background-color: rgb(171 70 36);
  color: white;
  font-weight: 700;
  border-radius: 60px;
}
