<div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
  <div class="wrapper wrapper--w790">
    <div class="card card-5">
      <div class="card-heading">
        <div class="card-heading-item">
        <a
            [routerLink]="['/fiches_plante', 'perso', fichePlante.id]"
            routerLinkActive="active"
            ><img class="retour" src="../../../../../assets/images/iconeretour.png" alt="icone retour" width="30">
          </a>
        </div>
        <div class="card-heading-item"><h2 class="title">Comment entretenir?</h2></div>
    </div>
      <div class="card-body">
        <img class="centrer" src="../../../../../assets/images/fiche-plante/methode/entretenir.png" alt="logo-entretenir" width="400">
        <table>
          <tr *ngIf="fichePlante.methodeEntretien"><td [innerHTML]="fichePlante.methodeEntretien"></td></tr>
        </table>
      </div>
    </div>
  </div>
</div>
