<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" routerLink="/home" routerLinkActive="active"
    >VGarden</a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarScroll"
    aria-controls="navbarScroll"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarScroll">
    <ul class="navbar-nav m-auto my-2 my-lg-0">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/terrain']">Potager</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/commandes']"> Commandes </a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Fiches Conseils
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" routerLink="/fiches_plante" routerLinkActive="active">Fiches Plante</a></li>
          <li><a class="dropdown-item" routerLink="/fiches_maladie" routerLinkActive="active">Fiches Maladie</a></li>
          <li><a class="dropdown-item" routerLink="/fiches_ravageur" routerLinkActive="active">Fiches Ravageur</a></li>
        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/user" routerLinkActive="active"
          >Mon Compte</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()" routerLinkActive="active"
          >Déconnexion</a
        >
      </li>
    </ul>
    <form class="d-flex">
      <input
        class="px-2 search"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn0" type="submit">Search</button>
    </form>
  </div>
</nav>
