<footer class="footer-10">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="row">
          <div class="col-md-4 mb-md-0 mb-4 mt-5">
            <h2 class="footer-heading">A propos de nous</h2>
            <ul class="list-unstyled">
              <li><a href="#" class="d-block">Notre histoire</a></li>
              <li><a href="#" class="d-block">Notre Team</a></li>
            </ul>
          </div>
          <div class="col-md-4 mb-md-0 mb-4 mt-5">
            <h2 class="footer-heading logo">VGarden</h2>
            <ul class="list-unstyled">
              <li><a href="#" class="d-block">Service Client</a></li>
              <li><a href="#" class="d-block">FAQ</a></li>
              <li><a href="#" class="d-block">Contact</a></li>
            </ul>
          </div>
          <div class="col-md-4 mb-md-0 mb-4 mt-5">
            <h2 class="footer-heading">Resources</h2>
            <ul class="list-unstyled">
              <li><a href="#" class="d-block">Newsletter</a></li>
              <li><a href="#" class="d-block">Conditions générales</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-5 mb-md-0 mb-4 mt-5">
        <h2 class="footer-heading">S'abonner</h2>
        <form action="#" class="subscribe-form">
          <div class="form-group d-flex">
            <input
              type="text"
              class="form-control rounded-left search"
              placeholder="Enter email address"
            />
            <button type="submit" class="form-control submit rounded-right">
              S'abonner
            </button>
          </div>
          <span class="subheading"
            >Ne manquez aucune info, recevez les nouvelles dans votre boîte
            mail</span
          >
        </form>
      </div>
    </div>
    <div class="row mt-5 pt-4 border-top">
      <div class="col-md-6 col-lg-8 mb-md-0 mb-4">
        <p class="copyright mb-0">
          Copyright &copy;
          <script>
            document.write(new Date().getFullYear());
          </script>
          All rights reserved.
          <a class="logo" target="_blank">VGarden</a>
        </p>
      </div>
      <div class="col-md-6 col-lg-4 text-md-right">
        <ul class="ftco-footer-social p-0">
          <li class="ftco-animate">
            <a
              href="#"
              data-toggle="tooltip"
              data-placement="top"
              title="Twitter"
              ><i
                class="bi bi-twitter"
                style="font-size: 2rem; color: rgba(243, 221, 188, 0.712)"
              ></i
            ></a>
          </li>
          <li class="ftco-animate">
            <a
              href="#"
              data-toggle="tooltip"
              data-placement="top"
              title="Facebook"
              ><i
                class="bi bi-facebook"
                style="font-size: 2rem; color: rgba(243, 221, 188, 0.712)"
              ></i
            ></a>
          </li>
          <li class="ftco-animate">
            <a href="#" data-toggle="tooltip" title="Instagram"
              ><i
                class="bi bi-instagram"
                style="font-size: 2rem; color: rgba(243, 221, 188, 0.712)"
              ></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
