<app-ruban></app-ruban>
<nav>
  <a
    *ngIf="!authentificated"
    routerLink="/login"
    routerLinkActive="active"
    class="btn btn-link"
    >login</a
  >
  <a
    *ngIf="!authentificated"
    routerLink="/inscription"
    routerLinkActive="active"
    class="btn btn-link"
    >inscription</a
  >
  <a
    *ngIf="authentificated"
    [routerLink]="['/user', login]"
    routerLinkActive="active"
    class="btn btn-link"
    >Informations personnelles
  </a>

  <a
    *ngIf="authentificated"
    [routerLink]="['/fiches_plante']"
    routerLinkActive="active"
    class="btn btn-link"
    >Fiches Plante
  </a>
  <a
    *ngIf="authentificated"
    [routerLink]="['/fiches_maladie']"
    routerLinkActive="active"
    class="btn btn-link"
    >Fiches Maladies
  </a>
  <a
    *ngIf="authentificated"
    [routerLink]="['/fiches_ravageurs']"
    routerLinkActive="active"
    class="btn btn-link"
    >Fiches Ravageurs
  </a>
</nav>
<router-outlet></router-outlet>
