<app-ruban></app-ruban>
<nav>
  <a
    *ngIf="!authentificated"
    routerLink="/login"
    routerLinkActive="active"
    class="btn btn-link"
    >login</a
  >
  <a
    *ngIf="!authentificated"
    routerLink="/inscription"
    routerLinkActive="active"
    class="btn btn-link"
    >inscription</a
  >
  <a
    *ngIf="authentificated"
    routerLink="/home"
    routerLinkActive="active"
    class="btn btn-link"
    >Accueil
  </a>
  <a
    *ngIf="authentificated"
    [routerLink]="['/fiches_plante']"
    routerLinkActive="active"
    class="btn btn-link"
    >Informations personnelles
  </a>
  <a
    *ngIf="authentificated"
    [routerLink]="['/fiches_maladie']"
    routerLinkActive="active"
    class="btn btn-link"
    >Fiches Maladies
  </a>
  <a
    *ngIf="authentificated"
    [routerLink]="['/fiches_ravageur']"
    routerLinkActive="active"
    class="btn btn-link"
    >Fiches Ravageurs
  </a>

  <a *ngIf="authentificated" class="btn btn-link" (click)="logout()"
    >Déconnexion</a
  >
</nav>
<router-outlet></router-outlet>
