<div class="page-wrapper bg-gra-03">
    <div class="row">
    <div
      class="col-lg-3 col-md-3 col-xs-6 mt-5 mb-3 box"
      *ngFor="let p of produitsObservable | async"
      >
      <a [routerLink]="['/vendre', 'edit', p.id]" routerLinkActive="active">

        <div class="card">
          <div>
            <img
              class="col-lg-11"
              src="../../../assets/images/fiche-plante/plante/{{
                p.nom
              }}.png"
              alt="{{ p.nom }}"
            />
          </div>
          <div>
            <h3 class="font-weight-bold">{{ p.nom }}</h3>
          </div>
          <div>
            <div class="column">
              <h6 class="text-right">{{ p.prix }} €/Kg</h6>
              <h6
                class="text-right text-black-50 font-italic font-weight-light"
              >
                {{ p.stock }} Kg
              </h6>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div
    class="col-lg-3 col-md-3 col-xs-6 mt-5 mb-3 box"
    >
    <a [routerLink]="['/vendre', 'create']" routerLinkActive="active">
    <div class="card">
      <div>
        <img
          class="col-lg-11"
          src="../../../assets/images/plus.png"
          alt="icone-plus"
          id="icone-plus"
        />
      </div>
      <div class="ajouter-annonce">
        <h3 class="font-weight-bold" id="ajouter-annonce">Ajouter une annonce</h3>
      </div>
    </div>
    </a>
    </div>

  </div>
</div>


