@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:ital,wght@1,500&display=swap");
.bg-gra-03 {
  background: -webkit-linear-gradient(
    bottom left,
    rgb(171 70 36) 0%,
    rgb(247, 230, 210) 80%
  );
  background: -moz-linear-gradient(
    bottom left,
    rgb(171 70 36) 0%,
    rgba(247, 230, 210) 80%
  );
  background: -o-linear-gradient(
    bottom left,
    rgb(171 70 36) 0%,
    rgba(247, 230, 210) 80%
  );
  background: linear-gradient(
    to top right,
    rgb(171 70 36) 0%,
    rgb(247, 230, 210) 100%
  );
}

.col-lg-2,
.col-md-3,
.col-xs-6 {
  margin-top: 30px !important;
  display: flex;
  align-items: center;
}




.card {
  margin-left: 10%;
  margin-right: 5%;
  border-color: rgba(248, 248, 248, 0.548);
  border-width: 2px;

}

.card:hover {
  border-color: rgba(241, 239, 238, 0.548);
  box-shadow: 10px 5px 5px rgba(68, 20, 3, 0.76);
}

h6,
h3 {
  color: black;
  font-family: "Montserrat", sans-serif;
}

h3 {
  font-size: 20px;
  margin-left: 3%;
}

h6 {
  font-size: 13px;
  margin-right: 3%;
}

#ajouter-annonce {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#icone-plus{
  height: 130px;
}

@media(max-width: 765px){
  #icone-plus{
  height: 160px;
  }

.col-lg-2,
.col-md-3,
.col-xs-6 {
  margin-top: 30px !important;
  display: flex;
  flex-flow: column;
}
}
