<div class="page-wrapper bg-gra-03">
    <div class="row">
    <div
      class="col-lg-3 col-md-3 col-xs-6 mt-5 mb-3 box"
      *ngFor="let p of produitsObservable | async"
    >
      <a [routerLink]="['/vendre', 'edit', p.id]" routerLinkActive="active">
        <div class="card">
          <div>
            <img
              class="col-lg-11"
              src="../../../assets/images/fiche-plante/plante/{{
                p.plante!.typePlante
              }}.png"
              alt="{{ p.plante!.typePlante }}"
            />
          </div>
          <div>
            <h3 class="font-weight-bold">{{ p.plante!.typePlante }}</h3>
          </div>
          <div>
            <div class="column">
              <h6 class="text-right">{{ p.prix }} €/Kg</h6>
              <h6
                class="text-right text-black-50 font-italic font-weight-light"
              >
                {{ p.stock }} Kg
              </h6>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

