<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" routerLink="/home" routerLinkActive="active"
    >VGarden</a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarScroll"
    aria-controls="navbarScroll"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarScroll">
    <ul class="navbar-nav m-auto my-2 my-lg-0">
      <li class="nav-item active">
        <a
          class="nav-link"
          routerLink="fonctionnement"
          routerLinkActive="active"
          >A propos</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link"
        routerLink="/contact"
        routerLinkActive="active"
        > contact </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active"
          >connexion</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/inscription" routerLinkActive="active"
          >inscription</a
        >
      </li>
    </ul>
    <form class="d-flex">
      <input
        class="px-2 search"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn0" type="submit">Search</button>
    </form>
  </div>
</nav>
