<table class="table text-center">
  <tr>
    <th>id</th>
    <th>Date</th>
    <th>Prix</th>
    <th>Statut</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let c of commandes | async" data-toggle="collapse" data-target="#accordion" class="clickable">
    <td>{{ c.id }}</td>
    <td>{{ c.dateCreation | date:'dd/MM/yyyy à HH:mm' }}</td>
    <td>{{ c.prixTotal | currency:'EUR' }}</td>
    <td>{{ c.statut }}</td>
    <td>
      <button [routerLink]="['/commandes', c.id]" class="btn btn-outline-primary">
        Consulter
      </button>
    </td>
  </tr>
</table>
