<section class="vh-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 vh-100 border-right">
        <div class="list-group list-group-flush">
          <a [routerLink]="['/commandes', c.id]" *ngFor="let c of commandes | async" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Commande #{{ c.id }}</h5>
              <small>{{ c.dateCreation | date:'dd/MM/yyyy à HH:mm' }}</small>
            </div>
            <div [ngSwitch]="c.statut">
              <p class="mb-1" *ngSwitchCase="'EN_ATTENTE'">
                La commande est en attente
              </p>
              <p class="mb-1" *ngSwitchCase="'EN_COURS'">
                La commande est en cours
              </p>
              <p class="mb-1" *ngSwitchCase="'TERMINE'">
                La commande est terminée
              </p>
            </div>
            <small>{{ c.prixTotal | currency:'EUR' }}</small>
          </a>
        </div>
      </div>
      <div class="col">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>
