<div>
  <div class="form-group">
    <label>id:</label>
    <input
      [(ngModel)]="produit.id"
      class="form-control"
      readonly
      placeholder="generation automatique"
    />
  </div>
  <div class="form-group">
    <label>stock:</label>
    <input
      [(ngModel)]="produit.stock"
      class="form-control"
      readonly
      placeholder="generation automatique"
    />
  </div>
  <div class="form-group">
    <select [(ngModel)]="quantite">
      <option value="1">1</option>
    </select>
  </div>
  <div class="form-group">
    <button (click)="achat()" class="btn btn-outline-success">
      enregistrer
    </button>
  </div>
</div>
