<br><h3>{{ fichePlante.nom }}</h3>
<br>
<div><a
  [routerLink]="['/fiches_plante', 'semer', fichePlante.id]"
  routerLinkActive="active"
  class="btn btn-outline-primary"
  >Semer</a
  >
<a
  [routerLink]="['/fiches_plante', 'planter', fichePlante.id]"
  routerLinkActive="active"
  class="btn btn-outline-primary"
  >Planter</a
  >
<a
  [routerLink]="['/fiches_plante', 'entretien', fichePlante.id]"
  routerLinkActive="active"
  class="btn btn-outline-primary"
  >Entretien</a
  >
<a
  [routerLink]="['/fiches_plante', 'recolter', fichePlante.id]"
  routerLinkActive="active"
  class="btn btn-outline-primary"
  >Récolter</a
  ></div>
<br>
<div>
  <h5>Caractéristiques</h5>
<table class="table">
  <tr><th width="200">Besoin en eau</th><td>{{ fichePlante.eau }}</td></tr>
  <tr><th width="200">Exposition</th><td>{{ fichePlante.exposition }}</td></tr>
  <tr><th width="200">Espacement</th><td>{{ fichePlante.espacement }}</td></tr>
  <tr *ngIf="fichePlante.dureeConservationGraine"><th width="200">Durée de conservation des graines</th><td>{{ fichePlante.dureeConservationGraine }}</td></tr>
</table>


<h5>Calendriers</h5>
<table class="table">
  <tr *ngIf="fichePlante.calendrierSemer"><th width="200">Période semis</th><td>{{ fichePlante.calendrierSemer }}</td></tr>
  <tr *ngIf="fichePlante.calendrierPlanter"><th width="200">Période pour planter</th><td>{{ fichePlante.calendrierPlanter }}</td></tr>
  <tr *ngIf="fichePlante.calendrierRecolter"><th width="200">Période pour récolter</th><td>{{ fichePlante.calendrierRecolter }}</td></tr>
</table>


<h5>Le compagnonnage</h5>
<table>
  <tr *ngIf="fichePlante.bonsCopains"><th width="200">Les bons Copains</th><td>{{ fichePlante.bonsCopains }}</td></tr>
  <tr *ngIf="fichePlante.mauvaisCopains"><th width="200">Les mauvais Copains</th><td>{{ fichePlante.mauvaisCopains }}</td></tr>
</table>

<br>
<h5>Petit coup de mou?</h5>
<table>
  <tr *ngIf="fichePlante.maladies"><th width="200">Maladies</th><td>{{ fichePlante.maladies }}</td></tr>
  <tr *ngIf="fichePlante.ravageurs"><th width="200">Ravageurs</th><td>{{ fichePlante.ravageurs }}</td></tr>
</table>
</div>

