<section class="new">
  <h1 class="text-center mt-5">
    <a class="logo" routerLink="/home" routerLinkActive="active">VGarden</a>
  </h1>
  <h3 class="text-center mt-3 titre text-black-50">A propos de nous</h3>
  <div>
    <p class="text-center text-black-50 font-italic mt-5">
      Chez VGarden nous nous sommes investis d’une mission ambitieuse, celle de dépoussiérer, de démystifier le jardinage pour le rendre accessible à tous !
    </p>
    <p class="text-center text-black-50 font-italic">
Vous n’avez pas spécialement la main verte et souhaitez créer un potager ? Vous venez de décrocher un doctorat en Biochimie moléculaire mais n’avez jamais réussi à garder une plante en vie plus de deux semaines ?
<br>Avec VGarden, vous avancerez pas à pas dans l'apprentissage et dans la découverte de la richesse de ce secteur.
<br>Alors qu'attendez-vous?
    </p>
  </div>

  <div class="container py-5">
    <div class="row pt-5">
      <div class="col-lg-10 m-auto mt-5">
        <div class="row text-center">
          <div class="col-lg-4">
            <img
              src="../../../assets/images/Acheter.png"
              alt=""
              class="img-luid"
            />
            <h5 class="titre font-weight-bold">ACHETER</h5>
            <p class="text-black-50 description">
              Plus besoin d'aller en grande surface, avec VGarden achetez les meilleurs produits cultivés par nos utilisateurs dans votre région!
            </p>
          </div>
          <div class="col-lg-4">
            <img
              src="../../../assets/images/Vendre.png"
              alt=""
              class="img-luid"
            />
            <h5 class="titre font-weight-bold">VENDRE</h5>
            <p class="text-black-50 description">
              Vous croulez sous la quantité de fruits et légumes de votre potager? Avec VGarden, vous pourrez les vendre à autrui en quelques clics!
            </p>
          </div>
          <div class="col-lg-4">
            <img
              src="../../../assets/images/Potager.png"
              alt=""
              class="img-luid"
            />
            <h5 class="titre font-weight-bold">MON POTAGER</h5>
            <p class="text-black-50 description">
              VGarden vous propose un espace pour modéliser votre potager et vous accompagner pas à pas dans la gestion de ce dernier. Vous bénéficierez de nombreux conseils pour obtenir les meilleurs produits!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
