<section class="new">
  <div class="container py-5">
    <div class="row pt-5">
      <div class="col-lg-7 m-auto">
        <div class="row text-center">
          <div class="col-lg-4">
            <img
              src="../../../assets/images/Acheter.png"
              alt=""
              class="img-luid"
            />
            <h6>ACHETER</h6>
          </div>
          <div class="col-lg-4">
            <img
              src="../../../assets/images/Vendre.png"
              alt=""
              class="img-luid"
            />
            <h6>VENDRE</h6>
          </div>
          <div class="col-lg-4">
            <img
              src="../../../assets/images/Potager.png"
              alt=""
              class="img-luid"
            />
            <h6>MON POTAGER</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
