<div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
  <div class="wrapper wrapper--w790">
    <div class="card card-5">
      <div class="card-heading">
        <h2 class="title">Les Maladies</h2>
      </div>
      <div class="card-body">
        <table class="table">

          <tr *ngFor="let fM of fichesMaladieObservable | async">
              <td>
              <a
              [routerLink]="['/fiches_maladie', 'perso', fM.id]"
              routerLinkActive="active"
              >{{ fM.nom }}</a>

            </td>
          </tr>
        </table>
        <br>
        <!-- <div class="row justify-content-between">
          <button
            routerLink="/fiches_plante/edit"
            routerLinkActive="active"
            class="btn btn--radius-2 btn--green"
            type="submit"
          >
            Ajouter une fiche
          </button>
        </div> -->
      </div>
    </div>
  </div>
</div>
