<div>
  <div class="form-group">
    <label>N°:</label>
    <input class="form-control" [(ngModel)]="ficheMaladie.id" readonly />
  </div>
  <div class="form-group">
    <label>Nom:</label>
    <input class="form-control" [(ngModel)]="ficheMaladie.nom" />
  </div>
  <div class="form-group">
    <label>Description:</label>
    <input type="number" class="form-control" [(ngModel)]="ficheMaladie.description" />
  </div>
  <div class="form-group">
    <label>Solution(s):</label>
    <input class="form-control" [(ngModel)]="ficheMaladie.solution"
    />
  </div>
  <div>
    <button (click)="save()" class="btn btn-outline-success">
      Enregistrer
    </button>
    <a routerLink="/fiches_maladie" routerLinkActive="active" btn-warning>annuler</a>
  </div>
</div>
